<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {
            background-color: rgb(180, 180, 180);
        }
        table, th, td {
          border:0.5px solid black;
        }
        </style>
    <style type="text/css">
        body {
            background-color: rgb(133, 128, 143);
        }
        table, th, td {
          border:0.5px solid black;
        }
        </style>
</head>
<body>
    <h1>3rd Question</h1>
    <table style="width:100%">
        <center>
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
        </center>
        <tr>
            {% for i in p %}
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
        </tr>
        {% endfor %}
</body>
</html>