<!DOCTYPE html>
<html lang="en">

<head>
    <style type="text/css">
        body {
            background-color: rgb(133, 128, 143);
        }
    </style>
</head>

<body>
    <h1>
        <center>PRIYANKA</center>
    </h1>
    <h2>
        <center>ID:1001874594</center>
    </h2>
    <center></center>
</body>

</html>

<br>


<form method='POST' action='/idrange'>
    TO KNOW THE NAMES WITHIN THE RANGE OF ID NUMBERS <input type="stringformat" name="id1" placeholder="enter number">TO <input type="stringformat" name="id2" placeholder="enter number">
    <br>
    <input type="submit">

</form>


<form method='POST' action='/iddetails'>
    ENTER ANY ID NUMBER <input type="number" name="number1" placeholder="Enter any number"> AND CODE <input type="number" name="number2" placeholder="Enter any number"> TO SEE THE DATA WITHIN THAT RANGE
    <input type="submit" name="action" value="click here">
    <br>
    <br>
    <br>
</form>


<form method='POST' action='/times'>
    ENTER THE CODE FROM <input type="stringformat" name="code1" placeholder="enter number">TO <input type="stringformat" name="code2" placeholder="enter number">
    AND MAX NUMBERS <input type="number" name="maxnum" placeholder="Enter any number"> TO SEE THE DATA WITHIN THAT RANGE
    <input type="submit" name="action" value="click here">
    <br>
    <br>
    <br>
</form>

</center>


</body>

</html>